@use '../../app/styles/abstract' as var;

.input {
    @extend %form-field;

    &:focus-visible {
        outline: none;
    }
}

.textarea {
    @extend %form-field;

    resize: none;

    &:focus-visible {
        outline: none;
    }
}

.form__list {
    --col-gap: 15px;
    --row-gap: 10px;

    @extend %list-reset;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    margin-bottom: 30px;
}

.form__item {

    &:has(input[name="name"]) {
        width: 100%;
    }

    &:has(input[name="phone"]) {
        width: calc((100% - var(--col-gap)) / 2);
    }

    &:has(input[name="email"]) {
        width: calc((100% - var(--col-gap)) / 2);
    }
}

.form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

@include var.tablet-size {

    .form__list {
        --col-gap: 20px;
    }

    .input {
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
        }
    }
}

@include var.desktop-size {

    .form__list {
        --col-gap: 30px;
    }

    .form__footer {
        justify-content: flex-end;
        gap: 30px;
    }
}