@use '../../abstract' as var;

.serviceMap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.serviceMapWrapper {
    position: relative;

    width: 100%;
    height: 180px;
}

@include var.tablet-size {

    .serviceMap {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .serviceMapWrapper {
        height: 420px;
    }
}

@include var.desktop-size {

    .serviceMapWrapper {
        height: 630px;
    }
}