@use '../../abstract' as var;

.offer {
    padding-top: 40px;
    padding-bottom: 20px;
}

.offerContainer {
    padding-top: 215px;
    padding-bottom: 20px;

    background-image: url('/offer.png');
    background-position: 10px 25px;
    background-size: 340px 146px;
    background-repeat: no-repeat;
}

.offerText {
    margin-top: 0;
    margin-bottom: 40px;

    br {
        display: none;
    }
}

.offerSlogan {
    font-size: 36px;
}

.offerSubSlogan {
    margin-top: 10px;
    margin-bottom: 40px;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.offerList {
    @extend %list-reset;
}

@include var.tablet-size {

    .offer {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .offerContainer {
        padding-top: 450px;

        background-position: 10px 15px;
        background-size: 940px 404px;
    }

    .offerText {

        font-size: 16px;
    
        br {
            display: inline;
        }
    }

    .offerItem {
        font-size: 16px;
    }
}

@include var.desktop-size {

    .offer {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .offerContainer {
        padding-top: 550px;

        background-position: 10px -30px;
        background-size: 1000px 429px;
    }
}