@use '../../abstract' as var;

.leasing {
    padding-top: 20px;
    padding-bottom: 20px;
}

.leasingText {
    margin-top: 0;
    margin-bottom: 20px;

    br {
        display: none;
    }
}

.leasingList {
    @extend %list-reset;
}

.leasingItem {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 110px;
    margin-bottom: 20px;
    padding: 10px;

    text-align: center;

    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(var.$brand-black, 0.14),
                0 3px 1px -2px rgba(var.$brand-black, 0.12),
                0 1px 5px 0 rgba(var.$brand-black, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
}

@include var.tablet-size {

    .leasing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .leasingText {
        margin-top: 0;
        margin-bottom: 20px;

        font-size: 16px;

        br {
            display: inline;
        }
    }

    .leasingList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .leasingItem {
        margin-bottom: 0;
    }
}

@include var.desktop-size {

    .leasing {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .leasingText {
        margin-bottom: 60px;
    }

    .leasingItem {
        width: calc((100% - 20px * 2) / 3);
        height: 160px;

        img {
            width: 290px;
            height: 126px;
        }

        &:nth-child(7) img {
            height: 55px;
        }
    }
}